<h2>Current Conditions</h2>

<p>The weather for <b>{{ location }} ({{ zipcode }})</b> is <b>{{ description }}</b>. <br />
    The current temperature is <b>{{  temperature }} Fahrenheit</b>.</p>

<p><a href="/phparch/weather">Check another zip</a></p>